# Content of This Note

* **Import Database from CSV file**
* **Preprocessing Database using basic pandas functionality**
* **Time-Series Analysis**
* **Generate Test Datasets**
* **Data Visualization**

### Pandas Library Reference

import pandas as pd

In [2]:
%matplotlib notebook
import pandas as pd

In [56]:
df = pd.DataFrame(
    {"a":[1,2,3], "b":[2,3,4], "c":[5,6,7]}, index=[1,2,3]
)
df

   a  b  c
1  1  2  5
2  2  3  6
3  3  4  7

In [7]:
#read_csv("", dataparser = lambda x: ...)
csv_data = pd.read_csv("data/pandas/bot0.csv")

Dataframe basic functions: 
```
head(), tail(), shape(), df['var'].sum(), df['var'].max(), df['var'].min()
```

Write Dataframe into a CSV file:
```
to_csv("bot.csv", [sep='\t'])
```

In [20]:
csv_data.head()

,domain,organic_key_words,est_m_seo_clicks,diff_current_from_max,lost_rank,fell_out_words,max_month_away,page_one_keywords
0,1010data.com,522,9.47k,-33.309859,NaN,15,3,59
1,1800flowers.com,"24,178",2.99M,-27.602906,"8,496","1,298",5,"7,544"
2,3sisecurity.com,83,2.54k,-45.493562,32,11,5,14
3,5wpr.com,921,20.8k,-53.258427,242,74,10,370
4,87am.com,132,20,-99.410029,39,1,6,2

## Building extra summary columns in DataFrame object

- Combine Rows and Columns, change row and column names
- Append and Merge Different Dataframes

Hint: Empty Data can be filled with ```np.nan```

In [52]:
#ignore_index means ignores the appended dataset index, normally used for append in sequence
csv_data.head().append(
    pd.DataFrame([
        ["data.com", 12, 23, -10, 23, 1, 6, 2]
        ],columns = list(csv_data.columns)), 
    ignore_index=True)

,domain,organic_key_words,est_m_seo_clicks,diff_current_from_max,lost_rank,fell_out_words,max_month_away,page_one_keywords
0,1010data.com,522,9.47k,-33.309859,NaN,15,3,59
1,1800flowers.com,"24,178",2.99M,-27.602906,"8,496","1,298",5,"7,544"
2,3sisecurity.com,83,2.54k,-45.493562,32,11,5,14
3,5wpr.com,921,20.8k,-53.258427,242,74,10,370
4,87am.com,132,20,-99.410029,39,1,6,2
5,data.com,12,23,-10.000000,23,1,6,2

## TimeSeries with Pandas

#### Create Timestamps
``` 
pd.timestamp('2017-5-12')
pd.timestamp('2017','5','12')
```

In [60]:
pd.Timestamp('2017-5-12')

Timestamp('2017-05-12 00:00:00')